body,html,h1,h2,h3,h4,h5,h6,p,a,ul,li,img{
	padding: 0;
	margin: 0;
}

body{
	background: yellow;
}


.content{
	width: 250px;
	height: 252px;
	background: white;
	margin: 0 auto;
	margin-top: 200px;
	padding-top: 1px;
}

.content1{
	width: 250px;
	background: red;
	margin-top: 1px;
	height: 20px;
    
}

a{
	text-decoration: none;
}

.left{
	list-style: none;
	float: left;
}

 .left li a{
	font-size: 12px;
	color: black;
}




.right{
	float: right;
	list-style: none;
}




