body,h1,h2,h3,h4,h5,h6,img,p,ul,li{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
body{
	font-size: 12px;
}
.box{
	width: 260px;
	height: 245px;
	box-sizing: border-box;
	border:1px solid #bbb;
	margin: 100px auto;
	overflow: hidden;

}
.box-1{
		margin-top: 9px;

}
.box-wrap{
	width: 210px;
	margin: 0 auto;
}
.box-li1{
	
}
.box-li1 p:nth-child(1){
	float: left;
	
}
.box-li1 p:nth-child(2){
	float: right;
	color: #bbb
}
.clear{
	clear: both;
}
.box-wrap2{
	width: 258px;
	border-top:1px solid #e9eaea;
	box-sizing: border-box;
	margin-top: 9px;

}
.box-wrap3{
	width: 258px;
	border-top:1px solid #e9eaea;
	box-sizing: border-box;
	margin-top: 11px;
}
