html,body,div,ul,li{
	margin: 0px;
	padding: 0px;
}
ul{
	list-style: none;
}
body{
	font:12px/1.5em 微软雅黑;
}
.box{
	width: 248px;
	height: 245px;
	padding: 0px 1px;
	border: 1px solid #a1a192;
	margin: 0px auto;
}
.box-lef{
	float: left;
}
.box-rig{
	float: right;
}
.box1,.box2{
	border-bottom: 1px solid #ebebeb;
}
ul{
	padding: 5px 0px;
	padding-bottom: 4px;
}
li{
	overflow: hidden;
	height: 24px;
	line-height: 24px;
	padding: 0px 25px;
}
li:hover{
	background-color: #ebebeb;
	cursor: default;
}
.li1{
	color: #a1a192;
}
.li1:hover{
	background-color: white;
	cursor: default;
}