html,body,ul,li,h1,h2,h3,h4,h5,h6,p{
	padding:0;
	margin:0;
}
body{
	background-color:white;
}
.content{
	width:253px;
	margin:0 auto;
	margin-top:100px;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
}
.content .lump{
	width:252px;
	height:245px;
	margin-left:-0.5px;
	border:1px solid #EFEAF1;
	
	background-color:white;
}
.lump .lump2{
	overflow:hidden;
}
.lump2 .left{
	float:left;
	width:80px;
	font-size:12px;
	border:0px solid grey;
	margin-top:2px;
	margin-left:22px;
}
.lump2 .right{
	float:right;
	margin-top:5px;
	width:80px;
	font-size:12px;
	border:0px solid grey;
	margin-right:27px;
}
ul{
	list-style:none;
}
.left ul .character{
	float:left;
	color:grey;
	line-height:24px;
}

.right ul .character{
	float:right;
	color:grey;
	line-height:22px;
}
.content .lump3{
	width:254px;
	height:25px;
	margin-top:-1px;
}
.lump3 ul .left{
	float:left;
	font-size:12px;
	border:0px solid grey;
	line-height:25px;
	margin-left:22px;
}
.lump3 ul .right{
	float:right;
	font-size:12px;
	border:0px solid grey;
	line-height:25px;
	margin-right:27px;
}
.content .lump3:hover{
	background-color:#EFEAF1;
}
.content hr{
	width:252px;
	margin-top:4px;
	margin-bottom:4px;
	border:0px;
	padding:0.5px;
	background-color:#EFEAF1;
}
.content .lump4{
	width:254px;
	height:25px;
}
.lump4 ul .left{
	float:left;
	font-size:12px;
	border:0px solid grey;
	line-height:25px;
	margin-left:22px;
}
.lump4 ul .right{
	float:right;
	font-size:12px;
	border:0px solid grey;
	line-height:25px;
	margin-right:27px;
}
.content .lump4:hover{
	background-color:#EFEAF1;
}




