*{
    margin:0;
    padding:0;
}

body{
    font-size: 14px;
    color:#666;
    font-family: "微软雅黑";
    background:#f6f6f6;
    height:4000px;
    padding-top:50px;
}

ul,ol{
    list-style: none;
}

input{
    outline:none;
}

img{
    border:none;
}


a{
    text-decoration: none;
    color:#666;
    outline:none;
}

a:hover{
    color:red;
}

.fl{
    float: left;
}

.fr{
    float:right;
}

.clear{
    clear:both;
}

.wrap{
    width:1000px;
    height:auto;
    overflow: hidden;
    margin:0 auto;
}


.top{
    width:100%;
    min-width: 1000px;
    height:55px;
    box-shadow: 0px 2px 2px #eee;
    background: #fff;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 9999;
}

.top li{
    float:left;
    line-height: 55px;
    margin-right:30px;
}


.nav li a{
    color:#8590A6;
    font-size: 15px;
}

.nav li:first-child a{
    color:#0084ff;
    font-size: 28px;
    line-height: 47px;
}

.nav li input,
.nav li button{
    height:35px;
    border:none;
    border-radius: 5px;
}
.nav li input{
    width:310px;
    padding-left:15px;
    border:1px solid #ebebeb;
    background: #f6f6f6;
    margin-right:10px;
}
.nav li button{
    width:60px;
    background:#0084ff;
    color:#fff;
    border:1px solid #0084ff;
}

.fa{
    color:#666
}


.top .fr ul li:last-child{
    margin-right:0;
    position: relative;
    width:30px;

}

.top .fr ul li:last-child img{
    position: absolute;
    top:10px;
    right:0;
    z-index: 9;
}

header{
   border-radius: 3px;
}


header .banner{
    border-radius: 3px;
    margin-top:15px;
    height:240px;
    background: url(https://pic2.zhimg.com/80/v2-7da863d92a3279c1a5f52f74aba23f70_r.jpg) no-repeat -20px -40px;
    background-size:120%;
}

header .user{
    height:135px;
    width:100%;
    position: relative;
    background: #fff;

}
header .user>.userface{
    width:168px;
    height:168px;
    overflow: hidden;
    border:5px solid #f6f6f6;
    position: absolute;
    top:-56px;
    left:20px;
    border-radius: 8px;
}
header .user>.userface img{
    height:100%;
}
header .user h1{
    text-indent: 220px;
    color:#000;
    padding-top:20px;
    margin-bottom:10px;
}
header .user p{
    padding-left: 230px;  
    margin-bottom:5px;
}
header .user p .fa-suitcase{
    margin-right:10px;
}
header .user p .fa-angle-down{
    margin-right:15px;
}
header .user h1 small{
    font-size: 65%;
    font-weight: 100;
    margin-left:10px;
}
header .user a.edituser{
    display: inline-block;
    width:120px;
    height:30px;
    line-height:30px;
    border-radius: 5px;
    text-align:center;
    border:1px solid #0084ff;
    color:#0084ff;
    position: absolute;
    right:20px;
    bottom:20px;
}
header .user a.edituser:hover{
    background: #0084ff;
    color:#fff;
}

.main,.sider{
   margin-top: 10px;
   border-radius: 3px;
}

.main{
    width: 700px;
    height:700px;
    background:#fff;
}
.menu {
    height:50px;
    border-bottom: 1px solid #ddd;
}
.menu a{
    height:50px;
    line-height: 50px;
    font-size: 16px;
    margin: 0 13px;
    padding:0 10px;
    display: inline-block
}
.menu a.active{
    height:47px;
    line-height: 47px;
    font-weight: bold;
    border-bottom:3px solid #0084ff
}

article{
    width:94%;
    margin:0 auto;
}

.me{
    width:100%;
    font-size: 15px;
    color:#000;
    padding:14px 0;
    border-bottom: 1px solid #ddd;
}

.good{
    width:100%;
    font-size: 14px;
    margin-top:15px;
    color:#777;
    overflow: hidden;
}



.card{
    width:100%;
    overflow: hidden;
    height:auto;
}

.card-header{
    overflow: hidden;
    height:auto;
}

.card-header h3{
    color:#000;
    padding:10px 0;
    font-size: 18px;
}

.card-header .face{
    width:100%;
    overflow: hidden;
    height:auto;
}

.card-header .face img{
    border-radius: 3px;
    height:45px;
    margin-right:15px;
}

.card-header .face h6{
    font-size: 15px;
    color:#000;
}

.card-header .face h6 small{
    display: block;
    font-size: 13px;
    font-weight: 300
}

.card-header p{
    padding:10px 0;
    color:#0084ff;
}

.card-body{
    line-height: 24px;
    text-indent: 2em;
    text-align: justify;
    font-size: 14px;
    color:#333;
}

.sider{
    width:290px;
    margin-left:10px;
    height:700px;
    background:#fff;
}

.more{
    color:#0084ff;
}

footer{

}