html,body,p,div,span,h1,h2,h3,h4,h5,h6,ul,li,img{
    margin:0px;
    padding:0px ;
}
body{
    padding-top: 50px;
    font-size: 12px;
    background: white;
}
.ul1 li{
    list-style: none;
    padding-left: 36px;
}
.box{
    border:#bbb 1px solid;
    width: 269px;
    height: 269px;
    background: white;
    margin:0 auto;
}
.ul1 li:nth-child(1){
    padding-top:7px;
}
.ul1 li:nth-child(2){
    padding-top:7px;
}
.ul1 li:nth-child(3){
    padding-top:7px;
}
.ul1 .span1{
    padding-right:93px;
    color: #bbb;
}
.ul1 .span3{
    padding-right:94px;
    color: #bbb;
}
.ul1 .span2,.span4,.span6{
    color: #bbb;
}
.ul1 .span5{
    padding-right: 104px;
    color: black;
}
hr{

    margin-bottom: 0px;
    height: 1px;
    border:none;
    background:#ccc;
}
.hr2{
    margin-top: 7px;
    margin-bottom: 0px;
    height: 1px;
    border:0px;
    background:#ccc;
}
.hr1{
    margin-top: 9px;
    margin-bottom: 0px;
    height: 1px;
    border:0px;
    background:#ccc;
} 
.ul2{
 margin-top: 2px;
}
.ul2 li{
    list-style: none;
    padding-left: 36px;
    padding-top: 7px;
}
.ul2 .span2,.span4{
    color: #bbb;
}
.ul2 .span1{
    padding-right:108px;
}
.span3{
    padding-right:121px;
}
.span6{
    color: black;
}
.div2{
    padding-left: 36px;
    padding-top: 9px;
}
 .span7{
   display:inline-block;
    width: 0px;
    height: 0px;
    border-width: 4px;
    border-style: solid;
    border-color:  transparent transparent transparent  black;
    margin-left: 105px;
} 
.ul3{
    margin-top: 7px;
}
.ul3 li{
    list-style: none;
    padding-left: 36px;
    padding-top: 5px;
}
.span8{
padding-right:71px;
}
.span9{
    color:#ccc;
}
.span10{
padding-right: 99px;
}
.span11{
    color:#ccc;
}