ul,li,a,html,body,h1,h2,h3,h4,h5,h6,p,a,img,div,span{
	padding: 0;
	margin: 0;
}
ul{
	list-style: none;
	margin-bottom: 12px;
}
body{
	background: #facece;
	margin: 0 auto;
	font-size: 12px;
}
.box{
	width: 258px;
	height: 258px;
	margin: 0 auto;
	background: #fff;
	border: 1px solid #bbb;
}
.li1{
	color: #bbb;
	padding-left: 32px;
	padding-top: 7px;
}
.span2{
	padding-left: 90px;
}
.li2{
	padding-left: 32px;
    padding-top: 7px;
}
.span3{
	padding-left: 100px;
}
.h1{
	border: 0;
	width: 255px;
	height: 1px;
	background: #e9e9e9;
	text-align: center;
}	
.li3{
	 padding-left: 32px;
    padding-top: 7px;
}
.span5{
	padding-left: 103px;
}
.span55{
	padding-left: 116px;
}
.li4{
	padding-left: 32px;
    padding-top: 5px;
}
.li4 > span{
	margin-right: 7px;
}
.li5{
	padding-left: 32px;
    padding-top: 5px;
}
.li6{
	padding-left: 32px;
    padding-top: 7px;
}

.span7{
	padding-left: 63px;
}
.li7{
	padding-left: 32px;
    padding-top: 7px;
}
.span8{
	padding-left: 97px;
}